services:
  db:
    image: hausgold/postgres:18.1
    network_mode: bridge
    ports: ["5432"]
    volumes:
      - .:/app
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: alarmable
      MDNS_HOSTNAME: db.alarmable.local

  test:
    build: .
    env_file: Envfile
    network_mode: bridge
    working_dir: /app
    volumes:
      - .:/app
    links:
      - db
